# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio exclusions
*.suo
*.user
*.ncb
Debug/
Release/
ipch/
*.sdf
*.opensdf

# Weird stuff
*.log
*.zip
.DS_Store
